<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Guerrilla&display=swap"
    rel="stylesheet" />

<body>
    <button (click)="goToDesk()" type="submit">+</button>
    <div class="login-container">
        <div class="img-container">
            <img src="assets/images/avatar_flightSO.png" alt="User Avatar" />
        </div>
        <h1>User name</h1>
        <form id="login-form">
            <div class="input-container">
                <input type="password" id="password" placeholder="Password" required />
            </div>
        </form>
    </div>
</body>