<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Guerrilla&display=swap"
    rel="stylesheet" />

<body>
    <div class="menu">
        <button (click)="goToDesk()" type="button">+</button>
    </div>
    <div class="login-container">
        <div class="img-container">
            <img src="assets/images/Logo_flightSO.png" alt="User Avatar" />
        </div>
        <form id="login-form" (ngSubmit)="login()">
            <label for="email">Nombre</label>
            <input id="email" type="text" autocomplete="name" placeholder="Nombre" required [(ngModel)]="user.email"
                name="email" />

            <label for="password">Contraseña</label>
            <input type="password" autocomplete="current-password" id="password" placeholder="Contraseña" required
                [(ngModel)]="user.password" name="password" />

            <div class="login_button">
                <button type="submit">Entrar</button>
            </div>
        </form>
    </div>
</body>