<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Guerrilla&display=swap"
    rel="stylesheet" />

<body>
    <div class="menu">
        <button (click)="goToDesk()" type="button">+</button>
    </div>
    <div class="login-container">
        <div class="img-container">
            <img src="assets/images/Logo_flightSO.png" alt="User Avatar" />
        </div>
        <form id="login-form">
            <div class="input-container">
                <input id="email" type="text"  placeholder="Email" required [(ngModel)]="user.email" />
            </div>
            <div class="input-container">
                <input type="password" id="password" placeholder="Password" required [(ngModel)]="user.password" />
            </div>
            <div class="login_button">
                <button type="button" (click)="login()">Entrar</button>
            </div>
        </form>
    </div>
</body>