body {
    font-family: "Protest Guerrilla", sans-serif;
    background-color: #d6f7f3;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    width: 350px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .img-container {
    display: inline-block;
    width: 140px;
    height: 140px;
    background-color: #ffffff;
    border: 0.5px solid #000000;
    transform: rotate(-45deg);
    overflow: hidden;
    justify-content: center;
  }
  
  .img-container img {
    width: 150px;
    height: 150px;
    justify-content: center;
    transform: rotate(45deg);
  }
  
  h1 {
    font-size: 50px;
    margin: 20px 5px;
    color: #000000;
  }
  
  .input-container {
    margin-bottom: 20px;
    text-align: left;
  }
  
  input[type="text"],
  input[type="password"] {
    display: block;
    margin: 0 auto;
    width: 60%;
    padding: 5px;
    border: 0.5px solid #000000;
    border-radius: 20px;
    background-color: #ffffff;
    color: #96efff;
    font-family: "Protest Guerrilla", sans-serif;
    font-style: normal;
    transition: border-color 0.3s ease-in-out;
    outline: none;
    font-size: 20px;
    text-align: center;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-bottom-color: #424242;
  }
  
  button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #5fbdff;
    color: #24261a;
    padding: 5px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
    font-size: 30px;
  }
  
  button:hover {
    background-color: #7b66ff;
    border: 1px solid #000000;
    color: #000000;
  }
  