<body>
    <div class="container">
        <div class="header">
            <div class="clock" id="clock">00:00</div>
        </div>
        <div class="content">
            <img src='assets/images/avatar_flightSO.png' alt="icono" />
        </div>
        <div class="footer">
            <div class="icon">📷</div>
            <button class="icon" (click)="goToCalculator()" type="submit">🖩</button>
            <button class="icon" (click)="goToTaskManageresk()" type="submit">
                🏠
            </button>
            <div class="icon"></div>
            <div class="icon">✉️</div>
            <div class="icon">⚙️</div>
        </div>
    </div>

    <script>
        function updateClock() {
            const now = new Date();
            const hours = String(now.getHours()).padStart(2, "0");
            const minutes = String(now.getMinutes()).padStart(2, "0");
            document.getElementById("clock").textContent = `${hours}:${minutes}`;
        }
        setInterval(updateClock, 1000);
        updateClock(); // Inicializa el reloj
    </script>
</body>